<div id="new-trip">
  <h3 id="new-trip-id"></h3>
  <h3 id="new-trip-country"></h3>
  <p id= "new-trip-comment"></p>

</div>

<h1>Add a new trip:</h1>

<%= form_for @trip, html: {id: "new-trip-form"} do |f| %>

  <%= f.label :country_name %>
  <%= f.collection_select :country, Country.all, :name, :name, :include_blank => true %>

  <h2>Or add a new country:</h2>
  <%= f.label :country %>
  <%= f.text_field :country_name %> <br>

  <h3>Other details:</h3>
  Year Visited:<%= f.text_field :year %><br>
  <%= f.label :recommend? %>
  <%= f.check_box :recommend?, {}, "true", "false"%><br>

  <%= f.label :comment %>
  <%= f.text_area :comment %><br>
  <%= f.submit %>


<% end %>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      // $('#new-trip').empty()
      let values = $(this).serialize();
      // postTrip(values);

      let posting = $.post('/trips', values);
      posting.done(function(data) {
        // loadTrips()
        postTrip(data)
        // let trip = data;
        //
        // $("#trips").append(`<h3 id="new-trip-id">Explorers Unite Trip Id: ${trip["id"]}</h3>
        //   <h3 id="new-trip-country">${trip["country"]["name"]}</h3>
        //   <p id= "new-trip-comment">Comment: ${trip["comment"]}</p>
        //   <a href="/users/${trip["user"]["id"]}/trips/${trip["id"]}">See More Details About This Trip</a>`
        // )

        // $("#new-trip-comment").text(`Comment: ${trip["comment"]}`);
        // $("#new-trip-id").text(`Explorers Unite Trip Id: ${trip["id"]}`);
        // $("#new-trip-country").text(trip["country"]["name"]);
        // $("#new-trip").append(`<a href="/users/${trip["user"]["id"]}/trips/${trip["id"]}">See More Details About This Trip</a>`)
        // document.getElementById("#new-trip-form").reset()
        // $("#new-trip-link").href =`/users/${trip["user"]["id"]}/trips/${trip["id"]}`
        // $("#new-trip").innerHTML += data
        // let template = Handlebars.compile(document.getElementById("trip-template").innerHTML);
        // let result = template(data);
        // debugger
        // document.getElementById("trips").innerHTML += result;
      }).done(document.getElementById("new-trip-form").reset())

    })
  })
</script>
