


<h1>Filter by year:</h1>

<%= form_tag("/trips", method: "get") do %>
  <%= select_tag "year", options_for_select(["pre-2000", "2000-2009", "2010-2015", "2016-present"]), include_blank: true %><br>
  <%= submit_tag "Filter" %><br>
  <% end %>

<br>

<% if @filter %>
<% @trips.each do |trip| %>
<div class="user">


<%= trip.country.name %><br>
<%= link_to trip.user.name, user_path(trip.user) %><br>
<%= trip.comment %><br>

</div>
  <% end %>
<% end %>

<%= link_to "Back to all trips", users_path %><br>
<%= link_to "Log Out", logout_path %><br>
