<h1 class="js-next-trip-country" data-country-id="<%=@trip.country.id%>"><%=@trip.country.name%></h1>


<h1><%= link_to @trip.user.name, user_path(@trip.user)%></h1>

<h4 class="next-trip-id">Explorers Unite Trip ID: <%= @trip.id %></h4>
<h3 class="next-trip-comment">Comment: <%= @trip.comment %></h3>
<h4 class="next-trip-year">Year Visited: <%= @trip.year %></h4>
<h4 class="next-trip-recommend"><%= recommended? @trip %></h4>

<!-- Must refactor to allow for ability to edit and delete trip based on trip being currently viewed. Currently it would act on trip originally viewed before 'next trip' was clicked  -->

<!-- <% if @trip.user == current_user %> -->
<%#= link_to "Edit the comment for this trip", edit_user_trip_path(@trip.user, @trip) %><br>
<%#= link_to "Delete this trip", trip_path(@trip), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
 <!-- <% end %> -->
<br>
<br>


<a class="js-other-users" data-user-id="<%=@trip.user.id%>" data-country-id="<%=@trip.country.id%>" href="#">Click to see other users that have been to this country</a><br>
<div id="other-users">

</div>
<br>
<br>

<%= link_to "Back to all trips", users_path %><br>
<a class="js-next-trip" data-user-id="<%=@trip.user.id%>" data-trip-id="<%=@trip.id%>" href="#">See the next trip by this user</a>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $(function () {
    $(".js-next-trip").on("click", function(e) {
      e.preventDefault()
      fetchNextTrip()
    })
  })

</script>

<script type="text/javascript">
  $(function () {
    $(".js-other-users").on("click", function(e) {
      e.preventDefault();
      getOtherUsers();
    })
  })
</script>
