<h1 class="next-trip-country"><%=@trip.country.name%></h1>


<%= link_to @trip.user.name, user_path(@trip.user)%><br>
<br>
<h3 class="next-trip-id">Explorers Unite Trip ID: <%= @trip.id %></h3><br>
<h2 class="next-trip-comment">Comment: <%= @trip.comment %></h2><br>
<h3 class="next-trip-year">Year Visited: <%= @trip.year %></h3><br>
<h3 class="next-trip-recommend"><%= recommended? @trip %></h3><br>




<% if @trip.user == current_user %>
<%= link_to "Edit the comment for this trip", edit_user_trip_path(@trip.user, @trip) %><br>
<%= link_to "Delete this trip", trip_path(@trip), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
<% end %>
<br>
<br>

<%= link_to "Back to all trips", users_path %><br>
<a class="js-next-trip" data-user-id="<%=@trip.user.id%>" data-trip-id="<%=@trip.id%>" href="#">See the next trip by this user</a>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $(function () {
    $(".js-next-trip").on("click", function(e) {
      e.preventDefault()
      fetchNextTrip()
    })
  })

</script>
