<h1><%= @user.name %>'s Page!</h1><br>

<% if @user.trips.empty? %>
<h2>There are no trips to show yet.</h2>
<% else %>

<h2>Trips taken:</h2>
<% @user.trips.each.with_index(1) do |trip, i| %>
  <%= i %><br>
  Country:<%= link_to trip.country.name, country_path(trip.country) if trip.country%><br>
  Comment:<%= trip.comment %><br>
  <%= recommended? trip %><br>
  <% end %>
  <% end %>





<% if current_user.id == @user.id %>
<%= link_to "Add a Trip", new_user_trip_path(@user) %>
<%= link_to "Edit Info", edit_user_path(@user) %> <br>
<%= link_to "Log Out", logout_path %>
<% end %>


<%= link_to "See all users' trips", users_path %> <br>
